* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #181818;
    color: #fff;
    width: 100%;
    font-family: Roboto, sans-serif;
}

header {
    color: #dbc59c;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header h1 {
    text-transform: capitalize;
    padding-left: 0.5em;
    margin-block-end: 0.4em;
}

header h2 {
    margin-block-start: 0;
    margin-block-end: 0.4em;
    margin-left: 2em;
    font-size: 0.8rem;
    font-weight: normal;
}

#svg {
    padding: 16px;
    margin-bottom: 6rem;
}

#summary {
    font-size: 0.8rem;
    background-color: #202020;
    border: 1px solid #dbc59c;
    padding: 8px 16px 16px 16px;
    position: fixed;
    top: 16px;
    z-index: 99;
    /* white-space: nowrap; */
    opacity: 0.9;
    border-radius: 0.25em;
}

#summary.hidden {
    display: none;
}

#summary .summary-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#summary .summary-header h2 {
    margin-block-start: 0;
    margin-block-end: 0.4em;
    /* flex-basis: 100%; */
    cursor: pointer;
}

#summary .summary-header span {
    font-size: 1.25em;
    line-height: 1em;
    cursor: pointer;
    margin-right: -8px;
    padding: 0.4em;
    user-select: none;
    display: flex;
    border-radius: 10%;
    aspect-ratio: 1;
}

#summary .summary-header span:hover {
    background: #303030;
}

#summary .summary-lists {
    padding-right: 16px;
    overflow: auto;
    height: 50vh;
    transition: height 1s ease-in-out;
}

#summary ul {
    /* list-style-position: inside; */
    /* padding-inline-start: 8px; */
    padding-inline-start: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: capitalize;
    width: 25ch;
}

#summary li::marker {
    color: #fff;
}

#summary .prereq-items li {
    color: #fff;
}

#summary .prereq-skills li {
    color: #d89e00;
}

#summary .prereq-traders li {
    color: #34a565;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-height: 8vh;
    margin-top: 2rem;
    background: #202020;
    border-top: 1px solid #dbc59c;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #github-link {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

footer #github-link img {
    max-height: 6vh;
}

footer #license {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

footer #license a {
    color: #dbc59c;
}

footer #license-text {
    width: 48ch;
    margin-right: 1em;
}
