@font-face {
    font-family: Montserrat;
    src: local('Montserrat');
}

/* https://fonts.googleapis.com/css2?family=Montserrat&display=swap */
/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXpsog.woff2)
        format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-bg: #181818;
    --color-text: #ffffff;
    --color-tier-1: #84d1ff;
    --color-tier-2: #3737ff;
    --color-tier-3: #800080;
    --color-tier-4: #fe5744;
    --color-trader: #34a565;
    --color-skill: #d89e00;
    --color-highlight: #70b035;
}

svg {
    width: 1700px;
    height: auto;
    background: var(--color-bg);
}

text {
    font-size: 14.4px;
    line-height: 1.25;
    font-family: Roboto, sans-serif;
    fill: var(--color-text);
    fill-opacity: 1;
    stroke: none;
}

text.station-name {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}

.req-skill text {
    fill: var(--color-skill);
}

.req-trader text {
    fill: var(--color-trader);
}

.requirements circle {
    stroke: none;
    fill: var(--color-text);
}

.station {
    pointer-events: visible;
    cursor: pointer;
}

.station path {
    stroke-width: 3;
    fill: none;
}

.station.tier-1 {
    stroke: var(--color-tier-1);
}

.station.tier-2 {
    stroke: var(--color-tier-2);
}

.station.tier-3 {
    stroke: var(--color-tier-3);
}

.station.tier-4 {
    stroke: var(--color-tier-4);
}

.line {
    stroke-width: 3;
    stroke: #ffffff;
}

.line.highlight {
    stroke: var(--color-highlight);
}

.line-border {
    stroke-width: 12;
    stroke: var(--color-bg);
}

.fadeout {
    opacity: 0.3;
}
